<%- include ("./partials/head.ejs") %>
<div class="main-section detail-section">
    <div id="book-detail-container">
        <div class="book-detail-header">
            <a class="button red-button book-detail-back-button" id="book-detail-back-button" href="<%= returnRoute %>">Terug</a>
        </div>
        <div class="book-detail-result ">
            <img class="book-detail-cover-image" src="<%= book.cover %>"/>
            <div class="book-detail-text">
                <h2 class="book-detail-title "><%= book.title %></h2>
                <p class="book-detail-author"><%= book.cover %></p>
                <p class="book-detail-description "><%= book.summary %></p>
            </div>
        </div>
    </div>
</div>
<%- include ("./partials/footer.ejs") %>
