<%- include ("./partials/head.ejs") %>
<a class="button" id="home-button" href="/">Begin opnieuw</a>
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
<%- include ("./partials/footer.ejs") %>